* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
footer,
header,
section {
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}
.x1ujvgzy {
  color: aqua;
}

.navbar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #e4e6e8;
  box-shadow: 0px 15px 10px -15px #e4e6e8;
  padding: 1.5px 0px 1.5px 0px;
  @include flex(center, space-between);
  &__left {
    margin-left: 16px;
    @include flex(center, space-between);
    &__logo {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__search {
      @include flex(center, center);
      margin-left: 8px;
      background-color: #f0f2f5;
      padding: 9px 12px;
      border-radius: 50px;
      font-size: 0.9375rem;
      input {
        margin-left: 8px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
  &__center {
    &__list-items {
      @include flex(center, space-between);
      .items {
        padding: 9px 51px;
        margin-right: 8px;
        svg {
          fill: #65676b;
        }
        &:hover {
          background-color: #f0f2f5;
          cursor: pointer;
          border-radius: 10px;
        }
      }
      .active {
        padding: 9px 51px;
        margin-bottom: -1px;
        svg {
          fill: #1c74e4;
        }
        border-bottom: 3px solid #1c74e4;
        &:hover {
          border-radius: unset;
          background-color: transparent;
        }
      }
    }
  }
  &__right {
    margin-right: 10px;
    &__list-items {
      @include flex(center, space-between);
      .items {
        width: 40px;
        height: 40px;
        background-color: #e4e6e8;
        margin-right: 8px;
        border-radius: 50%;
        @include flex(center, center);
        i {
          font-size: 17px;
        }
        img {
          max-width: 100%;
        }
        &:hover {
          background-color: #d8dadf;
          cursor: pointer;
        }
      }
    }
  }
}
.main {
  @include flex(center, space-between);
  padding-top: 77px;
  height: 100vh;
  background-color: #f0f2f5;
  &__left-content {
    max-width: 360px;
    width: 100%;
    height: 100%;
    &__lists {
      margin-left: 8px;
      .items {
        padding: 8px 0px 8px 6px;
        @include flex(center, flex-start);
        .items-name {
          margin-left: 12px;
          font-family: inherit;
          color: #050505;
          line-height: 1.3333;
          font-size: 0.9375rem;
          font-weight: bold;
        }
        i,
        img {
          height: 36px;
          width: 36px;
        }
        i {
          @include flex(center, center);
          background-color: #e4e6e8;
          border-radius: 50%;
        }
        &:hover {
          background-color: #e4e6e8;
          cursor: pointer;
          border-radius: 8px;
          transition: all 0.3s ease-out;
        }
        &:nth-child(7) ~ li {
          display: none;
        }
      }

      hr {
        margin: 9px 0px 9px 8px;
        width: 330px;
        background-color: #d8dadf;
        height: 1px;
        border: 0;
      }
    }
    .list-tie2 {
      .title {
        margin-bottom: 9px;
        margin-left: 6px;
        font-size: 1.0625rem;
        font-weight: 600;
        color: #65676b;
      }
      .items {
        img {
          border-radius: 20%;
        }
      }
    }
  }
}
